* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #fafafa;
  color: #262626;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
}

main {
  height: 85vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagem do Iphone */

.phone {
  height: 800px;
  width: 380px;
  background-image: url("./assets/iphone-instagram.png");
  background-position: center;
  background-size: cover;
}

/* Cards */

.card {
  width: 350px;
  border: 1px solid #dbdbdb;
  background: #fff;
}

/* Formulário de login */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login img {
  margin-top: 46px;
  margin-bottom: 12px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login input {
  width: 270px;
  height: 40px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 6px;
  padding: 8px;
  font-size: 0.75rem;
}

.login button {
  width: 270px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 14px;

  border: 0;
  background: #0095f64d;
  border-radius: 4px;
  color: #fff;

  font-size: 0.875rem;
  font-weight: 600;
}

.separator {
  width: 270px;
  position: relative;

  display: flex;
  justify-content: center;
}

.separator span {
  font-weight: 600;
  color: #8e8e8e;
  margin: 0 18px;
}

.separator span::before {
  content: " ";
  width: 106px;
  height: 1px;
  border: 0;
  background: #dbdbdb;
  position: absolute;
  left: 0;
  top: 50%;
}

.separator span::after {
  content: " ";
  width: 106px;
  height: 1px;
  border: 0;
  background: #dbdbdb;
  position: absolute;
  right: 0;
  top: 50%;
}

.facebook-login {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.facebook-login img {
  height: 28px;
  margin: 0;
}

.facebook-login span {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: #385185;
  margin-left: 4px;
}

.password {
  font-size: 0.75rem;
  color: #00376b;
  margin-bottom: 20px;
}

/* Card para criar uma conta */

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-size: 0.875rem;
  padding: 20px 0;
  margin: 10px 0;
}

.signup a {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0095f6;
  text-decoration: none;
}

/* Links para baixar o app */

.download {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download p {
  font-size: 0.875rem;
  margin: 12px 0;
}

.download div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.download img {
  height: 40px;
  width: 136px;
  cursor: pointer;
}

/* Footer */

footer {
  padding: 0 1rem;
  height: 15vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

footer a {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #8e8e8e;
  text-decoration: none;
}

.about,
.topics {
  display: flex;
  column-gap: 1rem;
  row-gap: 0.25rem;
  justify-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
}

.about {
  margin-top: 1.5rem;
}

.copyright {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.75rem 0;

  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #8e8e8e;
  text-decoration: none;
}

.copyright select {
  border: 0;
  background: transparent;
  color: #8e8e8e;
}

/* Responsividade */

@media (max-width: 875px) {
  .phone {
    display: none;
  }
}

@media (max-width: 450px) {
  main {
    height: 75vh;
  }

  footer {
    height: 25vh;
  }

  .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 2rem;
  }

  .card {
    background: #fafafa;
    border: 0;
  }
}
